.TodoList_Item {
  cursor: pointer;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 10px;
  box-shadow: 0 1px 0 0 #e6e6e6, 0 2px 0 0 white;
}

[class^="TodoList_Text"] {
  text-transform: uppercase;
  color: #af544f;
  display: inline-block;
  width: 100%;
  margin: 0 15px;
}

.TodoList_Text-completed {
  color: #92CDCF;
}

.Todo_Delete {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #cecece;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 4px;
  outline: none;
}

.Todo_Delete:hover {
  background-color: #f5f5f5;
}

.TodoList_Icon {
  min-width: 20px;
  min-height: 20px;
}
